{% extends "base.html" %}
{% block content %}

<h1>Harshil Chauhan </h1>
<div>
    {% for data in datas %}

    {% if data.harsh_image %}
    <p style="float: left;"><img src="{{ data.harsh_image.url }}" height="150px" width="200px" border="1px"></p>
    
    {% endif %}
    {% endfor %}

    <p style=" padding:5%">
        I am Harshil Chauhan from India currently working as software engineer in IGT PVT solutions.
        I have 5 years of domain experience in Airlines Solutions.
        My hobbies are playing cricket and listieng to Music.
        Now I want to switch my career to web development using Django.
        Hello, my name is Harshil Chauhan. I am currently working as software engineer in IGT PVT solutions.
        I am originally from from India.
        I have been an It professional since 2016, and specialize in Airlines Solutions.
        In my free time,
        I enjoy playing cricket, liseting to music, and exploring the city by bike.
    </p>
</div>
   
{% endblock %}