{% extends "base.html" %}
{% block content %}

<h1>This is the Articles Page of this website</h1>
    {% for pho in photos %}
        
        {% if pho.about_photo %}
            <img src="{{ pho.about_photo.url }}" alt="photo of item">
        {% endif %}
    {% endfor %}
            <p>
                This project is made on Django Framework.<br />
                Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It is free and open source, has a thriving and active community, great documentation, and many options for free and paid-for support.
            </p>
            <p>
                For template this project use HTML-5.<br />
                The HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser.
                Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages. HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.

                HTML elements are the building blocks of HTML pages. With HTML constructs, images and other objects such as interactive forms may be embedded into the rendered page. HTML provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items


            </p>
            <p>
                For styling purpose I have used CSS.<br />
                Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.[1] CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.[2]

                CSS is designed to enable the separation of presentation and content, including layout, colors, and fonts.
                This separation can improve content accessibility, provide more flexibility and control in the specification
                of presentation characteristics, enable multiple web pages to share formatting by specifying the relevant CSS
                in a separate .css file which reduces complexity and repetition in the structural content as well as enabling
                the .css file to be cached to improve the page load speed between the pages that share the file and its
                formatting.
            </p>
{% endblock %}